@model List<Customer>
@{
    ViewData["Title"] = "Customers";
}
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-success">Create Customer</a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>EmailAddress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer customer in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m=> customer.Id)</td>
                        <td>@customer.Name</td>
                        <td>@customer.EmailAddress</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Update" asp-route-id="@customer.Id" class="btn btn-primary">Update</a>
                            <a asp-action="Details" asp-route-id="@customer.Id" class="btn btn-info">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>